:root {
    --blacktrim: #040404;
    --trim: #5d0081;
    --text: #ffffff;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    color: var(--trim);

}

#start {
    color: var(--text);
    background-color: var(--trim);
}

.hide {
    display: none;
}

