:root {
    --blacktrim: #040404;
    --trim: #5d0081;
    --text: #ffffff;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

body {
    text-align: center;
}

.header {
    color: var(--trim);

}

#start  {
    color: var(--text);
    background-color: var(--trim);
}


.hide {
    display: none;
}

#resetQuiz {
    background-color: var(--trim);
    color: var(--text);
    margin: 5px;
}

#clearScore {
    background-color: var(--trim);
    color: var(--text);
}

#scoreList {
    color: var(--trim);
    font-weight: bolder;
}

footer {
    min-height:100vh; display:flex; flex-direction:column; justify-content:space-between;
}